version: '3.8'

services:
  primary-uswest:
    image: postgres:14
    container_name: region-uswest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: replication_db
    ports:
      - "5441:5432"

  replica-useast:
    image: postgres:14
    container_name: region-useast
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: replication_db
    ports:
      - "5442:5432"

  replica-euwest:
    image: postgres:14
    container_name: region-euwest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: replication_db
    ports:
      - "5443:5432"

volumes:
  primary_data:
  replica1_data:
  replica2_data:
